@()(content: Html)(implicit request: play.api.mvc.Request[Any], messages: Messages)

<!DOCTYPE html>

<html>
  <head>
    <title>@Messages("title")</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome", "font-awesome.css"))">
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("Eonasdan-bootstrap-datetimepicker", "bootstrap-datetimepicker.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
  </head>
  <body>
    <div class="container">
      @content
    </div>


    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-flatly", "bootstrap.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("knockout", "knockout.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("knockout-mapping", "knockout.mapping.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("knockout-validation", "knockout.validation.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("momentjs", "moment.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("Eonasdan-bootstrap-datetimepicker", "bootstrap-datetimepicker.min.js"))"></script>
    <script src="@routes.Assets.at("js/main.js")"></script>
  </body>
</html>