@(projects: List[neo4j.models.project.Project])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@main() {

  @projects.map { project =>
    <div class="well">
      <div class="row">
        <div class="col-xs-2">
          <h2>@project.name</h2
        </div>
        <div class="col-xs-8">
          @project.columns.mkString(",")
        </div>
        <div class="col-xs-2">
          <a class="btn btn-primary" href="#">@Messages("details")</a>
        </div>
      </div>
    </div>
  }
  <a class="btn btn-primary btn-lg pull-right" href="@routes.ProjectController.create()">@Messages("project.new")</a>
}
