@(hash: String, name: String, timeEntryForm: Form[CaseEntries], entry: CaseEntry)(implicit request: Request[Any], messages: Messages)

@import logic.JsonHelper

@main() {
<div id="datamodel" class="well" data-page="details" data-model='@{Html(JsonHelper.toJson(timeEntryForm))}' data-entry='@{Html(JsonHelper.toJson(entry))}'>
  @helper.form(routes.TimeEntryController.post(hash), 'class -> "form-horizontal") {
    <fieldset>
      @if(timeEntryForm.hasErrors) {
        <p class="alert alert-danger">
        @timeEntryForm.errors.map { msg => @if(msg.key != "") {@Messages(msg.key): }@Messages(msg.message, msg.args: _*)<br/> }
        </p>
      }
      <legend>@Messages("project"): @name</legend>
      <div class="form-group">
        <table class="table table-bordered table-striped focus-marker picker-wrapper">
          <thead>
            <tr data-bind="foreach: columns">
              <th data-bind="text: columnName, attr: {class: pickTableClass(columnType)}"></th>
            </tr>
          </thead>
          <tbody data-bind="foreach: entries">
            <tr data-bind="foreach: $parent.columns" class="columns">
              <td data-bind="attr: {class: pickTableClass(columnType)}">
                <!-- ko if: columnType() != "TIME" -->
                  <input data-bind="value: pickElement($parent, columnKey), attr: {type: pickType(columnType), class: pickClass(columnType), 'data-entrytype': columnKey}" />
                <!-- /ko -->
                <!-- ko if: columnType() == "TIME" -->
                  <input data-bind="datepicker: pickElement($parent, columnKey), attr: {type: pickType(columnType), class: pickClass(columnType), 'data-entrytype': columnKey}" />
                <!-- /ko -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <a class="btn btn-default pull-right" id="newEntry" href="#" onclick="return false;">@Messages("entry.new")</a>
        </div>
        <hr/>
        <div class="clearfix">
          <a class="btn btn-danger pull-left" href="@routes.ProjectController.listProjects()">@Messages("back")</a>
          <button type="submit" class="btn btn-primary btn-lg pull-right">@Messages("save")</button>
        </div>
      </div>
    </fieldset>
  }
</div>

}
