@(hash: String, timeEntryForm: Form[CaseEntries], entry: CaseEntry)(implicit request: Request[Any], messages: Messages)

@import logic.JsonHelper

@main() {
  @*TODO replace projectForm.get*@
<div id="datamodel" class="well" data-page="details" data-model='@{Html(JsonHelper.toJson(timeEntryForm.get))}' data-entry='@{Html(JsonHelper.toJson(entry))}'>
  @helper.form(routes.ProjectController.post(hash), 'class -> "form-horizontal") {
    <fieldset>
      @if(timeEntryForm.hasErrors) {
        <p class="alert alert-danger">
        @timeEntryForm.errors.map { msg => @if(msg.key != "") {@Messages(msg.key): }@Messages(msg.message, msg.args: _*)<br/> }
        </p>
      }
      <legend>@Messages("project"): <span data-bind="text: name"> </span></legend>
      <div class="form-group">
        <table class="table table-bordered table-striped">
          <thead>
            <tr data-bind="foreach: columns">
              <th data-bind="text: columnName"></th>
            </tr>
          </thead>
          <tbody data-bind="foreach: entries">
            <tr data-bind="foreach: $parent.columns">
              <td data-bind="text: $parent.start"></td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-default pull-right clearfix" id="newEntry" href="#">@Messages("entry.new")</a>
      </div>
    </fieldset>
  }
</div>

}
