@(hash: String, projectForm: play.api.data.Form[ProjectController.CaseProject], column: controllers.ProjectController.CaseColumn)(implicit request: play.api.mvc.Request[Any], messages: Messages)
@import org.apache.commons.lang3.StringUtils

@import logic.JsonHelper

@main() {
  @*TODO replace projectForm.get*@
<div id="datamodel" class="well" data-page="project" data-model='@{Html(JsonHelper.toJson(projectForm.get))}' data-column='@{Html(JsonHelper.toJson(column))}'>
  @helper.form(routes.ProjectController.post(hash), 'class -> "form-horizontal") {
    <fieldset>
      @if(projectForm.hasErrors) {
        <p class="alert alert-danger">
        @projectForm.errors.map { msg => @if(msg.key != "") {@Messages(msg.key): }@Messages(msg.message, msg.args: _*)<br/> }
        </p>
      }
      <legend>@Messages("project"): <span data-bind="text: name"> </span></legend>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="name">@Messages("name")</label>
        <div class="col-lg-10">
          <input class="form-control" id="name" name="name" type="text" placeholder="@Messages("name")" data-bind="value: name" required>
        </div>
      </div>
      <div class="form-group">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>@Messages("column.key")</th>
              <th>@Messages("column.name")</th>
              <th>@Messages("column.type")</th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach: columns">
            <tr class="columns">
              <td><input class="form-control columnKey" data-bind="value: columnKey" ></td>
              <td><input class="form-control columnName" data-bind="value: columnName" ></td>
              <td>
                <select class="form-control columnType" data-bind="options: columnTypes, value: columnType"></select>
              </td>
              <td>
                <a href="#" class="btn btn-default deleteColumn"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-default pull-right clearfix" id="newColumn" href="#">@Messages("column.new")</a>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <a class="btn btn-danger pull-left" href="@routes.ProjectController.list">@Messages("back")</a>
          <button type="submit" class="btn btn-primary pull-right">@Messages(if("new".equals(hash)) "create" else "edit")</button>
        </div>
      </div>
    </fieldset>
  }
</div>

}
